<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-config.dtd">
  	
  <configuration>
  	<typeAliases>
  		<typeAlias type="com.gohyo.app.product.ProductDTO" alias="ProductDTO"/>
  		<typeAlias type="com.gohyo.app.board.notice.NoticeDTO" alias="NoticeDTO"/>
  		<typeAlias type="com.gohyo.app.board.qna.QnaDTO" alias="QnaDTO"/>
  		<typeAlias type="com.gohyo.app.board.BoardDTO" alias="BoardDTO"/>
  		<typeAlias type="com.gohyo.app.board.BoardFileDTO" alias="BoardFileDTO"/>
  		<typeAlias type="com.gohyo.app.files.FileDTO" alias="FileDTO"/>
  		<typeAlias type="com.gohyo.app.member.MemberDTO" alias="MemberDTO"/>
  		<typeAlias type="com.gohyo.app.member.AvatarDTO" alias="AvatarDTO"/>
  		<typeAlias type="com.gohyo.app.account.AccountDTO" alias="AccountDTO"/>
  		<typeAlias type="com.gohyo.app.product.ReplyDTO" alias="ReplyDTO"/>
  		
  		
  		<typeAlias type="com.gohyo.app.util.Pager" alias="Pager"/>
  		<typeAlias type="java.lang.Long" alias="Long"/>
  		<typeAlias type="java.util.Map" alias="Map"/>
  	</typeAliases>
  </configuration>