<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  <mapper namespace="com.gohyo.app.account.AccountDAO">
  	<insert id="accountAdd" parameterType="AccountDTO">
  		INSERT INTO ACCOUNT (ACCOUNTNUM, USERNAME,PRODUCTNUM, ACCOUNTPW, ACCOUNTDATE, ACCOUNTBALANCE)
  		VALUES(#{accountNum}, #{userName}, #{productNum}, #{accountPw}, SYSDATE, 0)
  	</insert>
  	
  	<select id="myAccount" parameterType="AccountDTO" resultMap="myAccountResult">
		SELECT * FROM
			(
			SELECT ROWNUM R, J.* FROM
				(
				SELECT *
					FROM 
					MEMBER M
					LEFT JOIN 
					ACCOUNT A
					USING(USERNAME)
				WHERE A.PRODUCTNUM = #{productNum}
				)J
		)WHERE R BETWEEN #{startRow} AND #{lastRow}
  	</select>
  	
  	<resultMap type="AccountDTO" id="myAccountResult">
  		<id column="ACCOUNTNUM" property="accountNum"/>
  		<result column="USERNAME" property="userName"/>
  		<result column="PRODUCTNUM" property="productNum"/>
  		<result column="ACCOUNTPW" property="accountPw"/>
  		<result column="ACCOUNTDATE" property="accountDate"/>
  		<result column="ACCOUNTBALANCE" property="accountBalance"/>
  		
  		<collection javaType="ProductDTO" property="productDTO">
  			<id column="PRODUCTNAME" property="productName"/>
  			<result column="PRODUCTRATE" property="productRate"/>
  		</collection>
  	</resultMap>
  </mapper>